/*CSS global */
html {
  font-size: 12px;

}

/* Media query: (para mudar o tamanho de fonte do elemento de referência)/
baseado no tamanho da tela */
@media screen and (min-width: 600px) {
  html {
    color: red;
    font-size: 14px;
  }
}

h1 {
  font-size: 2rem;
  line-height: 1.5;
}
